@import "tailwindcss";

@theme inline {
  --color-cream: #f6f3ec;
  --color-ink: #14120f;
  --color-ink-muted: #5c574d;
  --color-line: #dad4c7;

  --font-heading: var(--font-archivo-black);
  --font-accent: var(--font-playfair);
  --font-body: var(--font-work-sans);
}

body {
  background-color: var(--color-cream);
  color: var(--color-ink);
}
